{{ partial "header.html" . }}

    <h1>Ham Radio Electronics</h1>
    <p>Some projects I'm working on</p>
      {{- range first 10 .Data.Pages }}
          <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
      {{- end }}


<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>


{{ partial "footer.html" . }}
